<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/tmpl/css/tws-style.css">
        <title>{{.Title}}</title>
    </head>
    <body class="tws-light-grey">
    <div class="tws-content" style="max-width: 1400px">
        <p>
            <a class="tws-button tws-padding-large tws-white tws-border tws-right" href="{{if .UData.IsLoggined }} /profile/ {{ else }} /login/ {{ end }}">
                {{ if .UData.IsLoggined }} PROFILE {{ else }} LOGIN {{ end }}
            </a>
        </p>
        <header class="tws-container tws-center tws-padding-32">
            <h1>
                <b>{{.Title}}</b>
            </h1>
            <p>{{printf "%s" .Body}}</p>
        </header>

        <p>
            {{if eq .UData.AdminRight 1 }}
            <a class="tws-button tws-padding-large tws-white tws-border" href="/edit/{{.Title}}">EDIT</a>
            {{ end }}
        </p>
    </div>
    </body>
</html>